/* Write your CSS code in this file */

/*  run command from main repo dir: $ npx sass sass/:stylesheets/  */

body{
    color: #222;
}

#header{
    div{
        text-align: center;
    }
}

#remaining_guesses{
    div{
        text-align: center;
    }
}

#guess_box{
    div{
        text-align: center;
    }
}

#previous_guesses{
    div{
        text-align: center;
    }
}

/*  run command from main repo dir: $ npx sass sass/:stylesheets/ */
